<div class="row">
    <div *ngIf="isCompanySelectBoxVisible" class="col-md-12">
        <dx-select-box
            #companiesSelectBox
            [(value)]="companyId" 
            [dataSource]="companyDataSource"
            valueExpr="id" 
            displayExpr="name" 
            (onValueChanged)="onCompanyListChanged($event)"
            [searchEnabled]="true">
        </dx-select-box>
    </div>
    <div *ngIf="!isCompanySelectBoxVisible" class="col-md-12">
        <span>{{companyName}}</span>
    </div>
</div>