UPDATE [dbo].[Company]
SET Name = 'Medico', Address = '3507 North Central Ave', SecondaryAddress = 'Suite 403', City = 'Phoenix', State = 3, ZipCode = '8501400000', Phone = '833-263-3426', Fax = '8662644201', WebSiteUrl = 'www.medicoinfotech.com'
WHERE Id = 'FC4DCBCE-11EB-4719-AD57-24A7C514D5B0'