<div class="row">
    <div *ngIf="!isSignedOff" class="col-md-2">
      <button type="button" (click)="openMedicalHistoryForm()" class="btn btn-sm btn-outline-secondary">ADD MEDICAL HISTORY</button>
    </div>
  </div>
  <div *ngIf="isHistoryExist" class="row mt-md-2">
    <div class="col-md-12">
      <dx-data-grid [selectedRowKeys]="selectedMedicalHistory" [hoverStateEnabled]="true" 
        (onSelectionChanged)="onMedicalHistorySelect($event)"
        [wordWrapEnabled]="true" 
        #medicalHistoryDataGrid
        [dataSource]="medicalHistoryDataSource"
        [showBorders]="true"
        [showRowLines]="true">
  
        <dxo-remote-operations [paging]="true" [sorting]="true"></dxo-remote-operations>
  
        <dxo-paging [pageSize]="searchConfiguration.pageSizeCount">
        </dxo-paging>
  
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="searchConfiguration.allowedPageSizes">
        </dxo-pager>
  
        <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
        <dxi-column dataField="patientId" dataType="string" [visible]="false"></dxi-column>
        <dxi-column dataField="diagnosis" dataType="string" [allowSorting]="false"></dxi-column>
        <dxi-column dataField="notes" cellTemplate="cellTemplate" dataType="string" [allowSorting]="false"></dxi-column>
        <dxi-column alignment="center" width="15%" dataField="createDate" dataType="date"></dxi-column>

        <dxi-column *ngIf="!isSignedOff" alignment="center" width="15%" caption="Delete" cellTemplate="deleteHistoryTemplate"></dxi-column>
        <div class="text-center" *dxTemplate="let history of 'deleteHistoryTemplate'">
            <button type="button" (click)="deleteHistory(history.data, $event)" class="btn btn-sm btn-outline-danger">DELETE</button>
        </div>
  
        <dxo-selection mode="single"></dxo-selection>
  
        <div class="text-left" *dxTemplate="let data of 'cellTemplate'">
          <value-component [value]="data.value"></value-component>
        </div>
  
      </dx-data-grid>
    </div>
  </div>
  <div *ngIf="!isHistoryExist" class="row mt-md-2">
    <div class="col-md-2">
      <h6>{{defaultHistoryValue}}</h6>
    </div>
  </div>
  <dx-popup #medicalHistoryPopup class="popup" [width]="900" [height]="580" [dragEnabled]="false" [showTitle]="true"
    title="Medical History" [closeOnOutsideClick]="false" [(visible)]="isMedicalHistoryPopupOpened"
    (onHidden)="onMedicalHistoryPopupHidden()">
    <div *dxTemplate="let data of 'content'">
      <div *ngIf="isMedicalHistoryPopupOpened" class="row">
        <div class="col-md-12">
          <dx-form #medicalHistoryForm [height]="460" labelLocation="top" [(formData)]="medicalHistory" (onFieldDataChanged)="onMedicalHistoryFieldChanged($event)">
            <dxi-item itemType="tabbed" [tabPanelOptions]="{ height: 450 }">
              <dxi-tab [colCount]="12" title="Base Info">
                <dxi-item [colSpan]="9" [label]="{text: 'Search diagnosis'}" dataField="icdCode" editorType="dxSelectBox"
                  [editorOptions]="{ dataSource: icdCodesDataSource, searchEnabled: true, displayExpr: 'name', valueExpr: 'id' }">
                </dxi-item>

                <dxi-item [colSpan]="3" dataField="createDate" editorType="dxDateBox" [editorOptions]="{ width: '100%', readOnly: isNewMedicalHistory }">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>                

                <dxi-item [colSpan]="12" [label]="{text: 'Diagnosis'}" dataField="diagnosis" editorType="dxTextArea" [editorOptions]="{ height: 80 }">
                  <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>
              </dxi-tab>
              <dxi-tab [colCount]="12" title="Notes">
                  <dxi-item [colSpan]="12" [label]="{text: 'Notes'}" dataField="notes" template="notesTemplate"></dxi-item>

                  <div *dxTemplate="let data of 'notesTemplate'">
                    <dx-text-area valueChangeEvent="keyup" [(value)]="medicalHistory.notes" height="120">
                    </dx-text-area>
  
                    <phrase-suggestion-helper class="mt-2" 
                      [typedText]="medicalHistory.notes"
                      [companyId]="companyId"
                      (onPhraseSuggestionApplied)="onPhraseSuggestionApplied($event)">
                    </phrase-suggestion-helper>
                  </div>
              </dxi-tab>
            </dxi-item>
          </dx-form>
        </div>

        <div class="col-md-12 text-right mt-md-2">
          <button type="button" (click)="createUpdateMedicalHistory()" class="btn btn-sm btn-outline-secondary">SAVE</button>
        </div>
      </div>
    </div>
  </dx-popup>