# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

debug
bin
obj
*.user
.vs
*.js.map
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.firebase/

api/Medico.Api/DB/Scripts
medico/Infrastructure/Data/Medico.Data/SqlScripts