<div class="row mt-md-1">
    <div class="col-md-12">
        <patient-chart-header [patientChartHeaderData]="patientChartHeaderData">
        </patient-chart-header>
    </div>
</div>
<div class="row mt-md-1">
    <div class="col-md-3">
        <table class="table">
            <thead>
                <tr class="thead-light">
                    <th class="text-left align-middle">PATIENT CHART:</th>
                    <th *ngIf="!isAdmissionSignedOff" class="align-middle text-right">
                        <button type="button" (click)="signOff()" class="btn btn-sm btn-outline-danger">Sign Off</button>
                    </th>
                    <th class="align-middle text-right">
                        <button type="button" (click)="makeReport()" class="btn btn-sm btn-outline-secondary">Report</button>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="mt-md-1">
            <dx-tree-view width="100%"
                #treeView id="patient-data-treeview"
                [dataSource]="patientChartProjectionTree" (onItemClick)="selectPatientChartSection($event)" style="height:1000px;">
                <div *dxTemplate="let data of 'item'">
                    <span [ngClass]="{'required-node' : data.isRequired}">{{data.text}}</span>
                </div>
            </dx-tree-view>
        </div>
    </div>
    <div class="col-md-9">
        <html-outlet [patientChartSectionInfo]="patientChartSectionInfo"></html-outlet>
    </div>
</div>
<dx-popup class="popup" [width]="1400" [height]="650" [dragEnabled]="false" 
    [showTitle]="true" title="Report builder"
    [closeOnOutsideClick]="false" 
    [(visible)]="isReportPopupOpened">
    <div *dxTemplate="let data of 'content'">
        <div *ngIf="isReportPopupOpened" class="row">
            <div class="col-md-12">
                <patient-chart-report [admission]="admission" [patientChartProjectionTree]="patientChartProjectionTree"></patient-chart-report>
            </div>
        </div>
    </div>
</dx-popup>