<div class="row">
    <div class="col-md-2">
        <span class="action" (click)="openCategoryCreationForm()">New Category</span>
    </div>
</div>
<div class="row margin-top-15">
    <div class="col-md-6">
        <dx-data-grid 
            [selectedRowKeys]="selectedCategories"
            [hoverStateEnabled]="true"
            (onSelectionChanged)="onCategorySelected($event)"
            [wordWrapEnabled]="true"
            #categoryDataGrid
            [dataSource]="categoryDataSource"
            [showBorders]="true"
            [showRowLines]="true">

            <dxo-remote-operations [paging]="true" [filtering]="true" [sorting]= "true">
            </dxo-remote-operations>

            <dxo-paging [pageSize]="applicationConfiguration.defaultPageSizeCount"></dxo-paging>

            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="applicationConfiguration.allowedPageSizes">
            </dxo-pager>

            <dxo-filter-row [visible]="true"></dxo-filter-row>

            <dxi-column dataField="Id" dataType="string" [visible]="false"></dxi-column>
            <dxi-column dataField="Title" dataType="string" [filterOperations]="applicationConfiguration.searchConfiguration">
            </dxi-column>
            <dxi-column dataField="Name" dataType="string" [visible]="false"></dxi-column>
            <dxi-column dataField="IsActive"></dxi-column>
            <dxi-column alignment="center" caption="Delete" cellTemplate="deleteCategoryTemplate"></dxi-column>

            <div class="text-center" *dxTemplate="let category of 'deleteCategoryTemplate'">        
                <span class="action delete-action"  (click)="deleteCategory(category.data, $event)"><i class="dx-icon-remove"></i></span>
            </div>

            <dxo-selection mode="single"></dxo-selection>
        </dx-data-grid>
    </div>
</div>
<dx-popup 
    #createUpdateTemplateTypePopup 
    class="popup" [width]="600" [height]="200" [dragEnabled]="false" [showTitle]="true"
    title="Create / Update Category" [closeOnOutsideClick]="false" 
    [(visible)]="isCreateUpdatePopupOpened"
    (onHidden)="onCreateUpdatePopupHidden()">
    <div id="template-type-form-popup" *dxTemplate="let data of 'content'">
        <dx-scroll-view [scrollByContent]="true">
            <div *ngIf="isCreateUpdatePopupOpened" class="row">
                <div class="col-md-12">
                    <dx-form
                        [colCount]="4"
                        #categoryCreationForm
                        [(formData)]="category"
                        (onFieldDataChanged)="onCategoryFieldChanged($event)">
            
                        <dxi-item [colSpan]="3" dataField="Title">
                            <dxi-validation-rule type="required" message="Title is required"></dxi-validation-rule>
                            <dxi-validation-rule *ngIf="isNewCategory" type="custom" [validationCallback]="validateGeneratedName">
                            </dxi-validation-rule>
                        </dxi-item>
            
                        <dxi-item dataField="IsActive"></dxi-item>
                    </dx-form>
                </div>
                <div class="col-md-12 text-left margin-top-15">
                    <dx-button (onClick)="createUpdateCategory()" text="SAVE" type="default"></dx-button>
                </div>
            </div>
        </dx-scroll-view>
    </div>
</dx-popup>