<div *ngIf="!email">
  <div class="row mt-md-5">
    <div class="offset-md-4 col-md-4">
      <label>Enter a new password below.</label>
      <dx-form #resetPasswordForm [(formData)]="resetPasswordModel">
        <dxi-item [editorOptions]="{ mode: 'password' }" editorType="dxTextBox" dataField="newPassword">
          <dxi-validation-rule type="required" message="New password is required"></dxi-validation-rule>
          <dxi-validation-rule type="custom" [message]="passwordFormatValidationMessage" [validationCallback]="validatePasswordComplexity"></dxi-validation-rule>
        </dxi-item>
        <dxi-item [editorOptions]="{ mode: 'password' }" editorType="dxTextBox" dataField="newPasswordCopy" [label]="{text: 'Repeat New Password'}">
          <dxi-validation-rule type="required" message="New Password Copy is required"></dxi-validation-rule>
          <dxi-validation-rule type="compare" message="New Password and New Password Copy do not match" [comparisonTarget]="resetPasswordComparison"></dxi-validation-rule>
        </dxi-item>
      </dx-form>
    </div>
  </div>
</div>
<div class="row mt-md-5">
  <div class="col-md-8 text-right">
    <button type="button" (click)="resetPassword()" class="btn btn-sm btn-outline-secondary">Save</button>
  </div>
</div>
