<div class="row">
  <div *ngIf="!isSignedOff" class="col-md-2">
    <a href="" (click)="openTobaccoHistoryCreationForm($event)">Add Tobacco History</a>
  </div>
</div>
<div *ngIf="isHistoryExist" class="row margin-top-15">
  <div class="col-md-12">
    <dx-data-grid [selectedRowKeys]="selectedTobaccoHistory" [hoverStateEnabled]="true" (onSelectionChanged)="onSelectedTobaccoHistory($event)"
      [wordWrapEnabled]="true" #tobaccoHistoryDataGrid [dataSource]="tobaccoHistoryDataSource" [showBorders]="true"
      [showRowLines]="true">

      <dxo-remote-operations [paging]="true" [sorting]="true">
      </dxo-remote-operations>

      <dxo-paging [pageSize]="applicationConfiguration.defaultPageSizeCount">
      </dxo-paging>

      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="applicationConfiguration.allowedPageSizes">
      </dxo-pager>

      <dxi-column dataField="Id" dataType="string" [visible]="false"></dxi-column>
      <dxi-column dataField="PatientId" dataType="string" [visible]="false"></dxi-column>
      <dxi-column dataField="IsDelete" dataType="boolean" [visible]="false"></dxi-column>
      <dxi-column dataField="Status" dataType="string" [allowSorting]="false">
      </dxi-column>
      <dxi-column dataField="Type" cellTemplate="cellTemplate" dataType="string" [allowSorting]="false">
      </dxi-column>
      <dxi-column dataField="Amount" cellTemplate="cellTemplate" dataType="number" [allowSorting]="false">
      </dxi-column>
      <dxi-column dataField="Use" cellTemplate="cellTemplate" dataType="string" [allowSorting]="false">
      </dxi-column>
      <dxi-column dataField="Frequency" cellTemplate="cellTemplate" dataType="string" [allowSorting]="false">
      </dxi-column>
      <dxi-column dataField="Length" cellTemplate="cellTemplate" dataType="number" [allowSorting]="false">
      </dxi-column>
      <dxi-column dataField="Duration" cellTemplate="cellTemplate" dataType="string" [allowSorting]="false">
      </dxi-column>
      <dxi-column dataField="Quit" cellTemplate="cellTemplate" dataType="boolean" [allowSorting]="false">
      </dxi-column>
      <dxi-column dataField="StatusLength" cellTemplate="cellTemplate" dataType="number" [allowSorting]="false">
      </dxi-column>
      <dxi-column dataField="Notes" cellTemplate="cellTemplate" dataType="string" [allowSorting]="false">
      </dxi-column>
      <dxi-column dataField="CreateDate" dataType="date"></dxi-column>

      <dxo-selection mode="single"></dxo-selection>

      <div class="text-center" *dxTemplate="let data of 'cellTemplate'">
        <span>
          {{data.value === null ? "-" : data.value }}
        </span>
      </div>

    </dx-data-grid>
  </div>
</div>
<div *ngIf="!isHistoryExist" class="row margin-top-15">
  <div class="col-md-2">
    <h6>{{defaultHistoryValue}}</h6>
  </div>
</div>
<dx-popup #createUpdateTobaccoHistoryPopup class="popup" [width]="600" [height]="500" [dragEnabled]="false" [showTitle]="true"
  title="Create / Update Tobacco History" [closeOnOutsideClick]="false" [(visible)]="isCreateUpdatePopupOpened"
  (onHidden)="onCreateUpdatePopupHidden()">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view [scrollByContent]="true">
      <div class="row">
        <div class="col-md-12">
          <form (submit)="createUpdateTobaccoHistory($event)">
            <dx-validation-group #tobaccoHistoryValidationGroup>
              <div class='dx-fieldset'>
                <div class='dx-field'>
                  <div class='dx-field-label'>Tobacco Status:</div>
                  <div class='dx-field-value'>
                    <dx-select-box [(value)]='tobaccoHistory.Status' [items]='statusTobaccoUse.values'>
                      <dx-validator>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-select-box>
                  </div>
                </div>
                <div *ngIf="!isNeverSmoked">
                  <div class='dx-field'>
                    <div class='dx-field-label'>Tobacco Type:</div>
                    <div class='dx-field-value'>
                      <dx-select-box [(value)]='tobaccoHistory.Type' [items]='typeTobacco.values'>
                        <dx-validator>
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                      </dx-select-box>
                    </div>
                  </div>
                  <div class='dx-field'>
                    <div class='dx-field-label'>Tobacco Amount:</div>
                    <div class='dx-field-value'>
                      <dx-number-box [(value)]='tobaccoHistory.Amount' [showSpinButtons]='true' [min]='1' [max]='100'>
                        <dx-validator>
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                      </dx-number-box>
                    </div>
                  </div>
                  <div class='dx-field'>
                    <div class='dx-field-label'>Tobacco Use:</div>
                    <div class='dx-field-value'>
                      <dx-select-box [(value)]='tobaccoHistory.Use' [items]='useTobacco.values'>
                        <dx-validator>
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                      </dx-select-box>
                    </div>
                  </div>
                  <div class='dx-field'>
                    <div class='dx-field-label'>Tobacco Frequency:</div>
                    <div class='dx-field-value'>
                      <dx-select-box [(value)]='tobaccoHistory.Frequency' [items]='useFrequency.values'>
                        <dx-validator>
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                      </dx-select-box>
                    </div>
                  </div>
                  <div class='dx-field'>
                    <div class='dx-field-label'>Tobacco Length:</div>
                    <div class='dx-field-value'>
                      <dx-number-box [(value)]='tobaccoHistory.Length' [showSpinButtons]='true' [min]='1' [max]='100'>
                        <dx-validator>
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                      </dx-number-box>
                    </div>
                  </div>
                  <div class='dx-field'>
                    <div class='dx-field-label'>Tobacco Duration:</div>
                    <div class='dx-field-value'>
                      <dx-select-box [(value)]='tobaccoHistory.Duration' [items]='duration.values'>
                        <dx-validator>
                          <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dx-validator>
                      </dx-select-box>
                    </div>
                  </div>
                  <div class='dx-field'>
                    <div class='dx-field-label'>Tobacco Quit:</div>
                    <div class='dx-field-value'>
                      <dx-check-box [(value)]='quit'></dx-check-box>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="tobaccoHistory.Quit" class="dx-fieldset">
                <div class='dx-field'>
                  <div class='dx-field-label'>Tobacco Status Length:</div>
                  <div class='dx-field-value'>
                    <dx-number-box [(value)]='tobaccoHistory.StatusLength' [showSpinButtons]='true' [min]='0' [max]='100'>
                      <dx-validator>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-number-box>
                  </div>
                </div>
                <div class='dx-field'>
                  <div class='dx-field-label'>Tobacco Status Length Type:</div>
                  <div class='dx-field-value'>
                    <dx-select-box [(value)]='tobaccoHistory.StatusLengthType' 
                      [items]='duration.values'>
                    </dx-select-box>
                  </div>
                </div>
              </div>
              <div class="dx-fieldset">
                <div class='dx-field'>
                  <div class='dx-field-label'>Tobacco Notes:</div>
                  <div class='dx-field-value'>
                    <dx-text-box [(value)]='tobaccoHistory.Notes'></dx-text-box>
                  </div>
                </div>
                <div class="dx-field">
                  <div class="dx-field-label">Create Date:</div>
                  <div class="dx-field-value">
                    <dx-date-box [readOnly]="isNewTobaccoHistory" [(value)]="tobaccoHistory.CreateDate" type="date">
                      <dx-validator>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                      </dx-validator>
                    </dx-date-box>
                  </div>
                </div>
                <div class="dx-field">
                  <div class="dx-field-label">Is Delete: </div>
                  <div class="dx-field-value">
                    <dx-check-box [(value)]="tobaccoHistory.IsDelete">
                    </dx-check-box>
                  </div>
                </div>
              </div>
              <div class="dx-fieldset">
                <dx-button text="Create / Update" type="default" [useSubmitBehavior]="true">
                </dx-button>
              </div>
            </dx-validation-group>
          </form>
        </div>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
