<div class="row">
        <div class="col-md-6">
            <div *ngIf="!isSignedOff" class="row">
                <div class="col-md-12">
                    <dx-select-box
                        #templateSelectBox
                        valueExpr="id"
                        (onItemClick)="onTemplateAdded($event)"
                        placeholder="Select template"
                        displayExpr="name"
                        [dataSource]="templateDataSource"
                        searchEnabled="true">
                        <div *dxTemplate="let item of 'item'">
                            <h6>{{item.name}}</h6>
                        </div>
                    </dx-select-box>
                </div>
            </div>
            <div class="margin-top-5 row">
                <div class="col-md-12">
                    <dx-list
                        #templateList
                        [items]="templates" 
                        [allowItemDeleting]="!isSignedOff"
                        (onItemDeleted)="onTemplateDeleted($event)">
                        <div *dxTemplate="let item of 'item'">
                            <div>
                                <div style="font-weight: 600" class="mt-md-1">{{item.title}}</div>
                            </div>
                        </div>
                    </dx-list>
                </div>
            </div>
        </div>
    </div>