<div class="row">
    <div class="col-md-12">
        <dx-form #templateSectionForm [(formData)]="templateSection" [height]="460">
            <dxi-item [label]="{text: 'Template'}" dataField="templateId" editorType="dxSelectBox" 
                [editorOptions]="{ displayExpr: 'reportTitle', valueExpr: 'id', dataSource: templateDataSource, searchEnabled: true }">
                <dxi-validation-rule type="required" message="Template is required"></dxi-validation-rule>
                <dxi-validation-rule type="custom" [validationCallback]="validateTemplateExistenceInPatientChart"></dxi-validation-rule>
            </dxi-item>
        </dx-form>
    </div>

    <div class="col-md-12 text-right mt-md-2">
        <button type="button" (click)="createUpdateTemplateSection()" class="btn btn-sm btn-outline-secondary">SAVE</button>
    </div>
</div>