<div *ngIf="canRenderComponents">
    <div class="row mt-md-1">
        <div class="col-md-12">
            <appointments-filter (onFilterChanged)="onFilterChanged($event)"
                [startDate]="startDate"
                [endDate]="endDate">
            </appointments-filter>
        </div>
    </div>
    
    <div class="row mt-md-2">
        <div class="col-md-12">
            <dx-scheduler #appointmentScheduler
                (onAppointmentAdded)="onAppointmentAdded()"
                (onAppointmentUpdated)="onAppointmentUpdated()"
                (onAppointmentDeleted)="onAppointmentDeleted()"
                [startDayHour]="appConfiguration.startWorkingHour"
                [endDayHour]="appConfiguration.endWorkingHour" 
                [dataSource]="appointmentDataSource"
                [views]="schedulerAvailableViews"
                [firstDayOfWeek]="0"
                [currentDate]="currentDate"
                [crossScrollingEnabled]="true" 
                [height]="350"
                (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
                (onAppointmentDeleting)="onAppointmentDeleting($event)"
                [showAllDayPanel]="false"
                appointmentTemplate="appointment-template"
                appointmentTooltipTemplate="tooltip-template">
                
                <div *dxTemplate="let appointment of 'appointment-template'">
                    <div>
                        <span>{{appointment.patientFirstName}} {{appointment.patientLastName}}</span><br/>
                        <span>{{appointment.physicianFirstName}} {{appointment.physicianLastName}}</span>
                    </div>
                </div>
    
                <div *dxTemplate="let appointment of 'tooltip-template'">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <b>TIME:</b>
                                </div>
                                <div class="col-md-8 text-left">
                                    {{appointment.startDate | time}} --- {{appointment.endDate | time}}
                                </div>
                                <div class="col-md-4 text-left">
                                    <b>PHYSICIAN:</b>
                                </div>
                                <div class="col-md-8 text-left">
                                    {{appointment.physicianFirstName}} {{appointment.physicianLastName}}
                                </div>
                                <div class="col-md-4 text-left">
                                    <b>PATIENT:</b>
                                </div>
                                <div class="col-md-8 text-left">
                                    {{appointment.patientFirstName}} {{appointment.patientLastName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <i (click)="hideSchedulerTooltip($event)" class="fa fa-times"></i><br/><br/>
                            <i (click)="deleteAppointment($event, appointment)" class="fa fa-trash"></i>
                        </div>
                    </div>
                </div>
            </dx-scheduler>
        </div>
    </div>
    
    <div class="row mt-md-2">
        <div class="col-md-12">
            <dx-data-grid #appointmentsGrid 
                [showBorders]="true"
                [dataSource]="appointmentGridDataSource"
                [hoverStateEnabled]="true" 
                [selectedRowKeys]="selectedAppointment"
                (onSelectionChanged)="onAppointmentChanged($event)">
    
                <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
                <dxi-column [allowSorting]="false" dataField="patient" cellTemplate="patientNameTemplate"></dxi-column>
                <dxi-column [allowSorting]="false" dataField="dateOfBirth" type="date" cellTemplate="patientDoBTemplate">
                </dxi-column>
                <dxi-column [allowSorting]="false" dataField="lastVisit" cellTemplate="lastVisitTemplate"></dxi-column>
                <dxi-column [allowSorting]="false" dataField="physician" cellTemplate="physicianNameTemplate"></dxi-column>
                <dxi-column [allowSorting]="false" dataField="nurse" cellTemplate="nurseNameTemplate"></dxi-column>
                <dxi-column [allowSorting]="false" dataField="startTime" cellTemplate="startDateTemplate"></dxi-column>
                <dxi-column [allowSorting]="false" dataField="endTime" cellTemplate="endDateTemplate"></dxi-column>
                <dxi-column [allowSorting]="false" caption="Location" dataField="locationName"></dxi-column>
                <dxi-column [allowSorting]="false" caption="Room" dataField="roomName"></dxi-column>
                <dxi-column [allowSorting]="false" caption="Status" dataField="appointmentStatus" dataType="string"></dxi-column>
                <dxi-column alignment="center" caption="Admissions" cellTemplate="previousAdmissionTemplate"></dxi-column>
                <dxi-column alignment="center" caption="Allegations Status" cellTemplate="allegationsStatusTemplate"></dxi-column>
    
                <dxo-remote-operations [paging]="true">
                </dxo-remote-operations>
    
                <dxo-paging [pageSize]="searchConfiguration.pageSizeCount">
                </dxo-paging>
    
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="searchConfiguration.allowedPageSizes">
                </dxo-pager>
    
                <div *dxTemplate="let appointment of 'lastVisitTemplate'">
                    <patient-last-visit [patientId]="appointment.data.patientId"
                        [startDate]="appointment.data.startDate">
                    </patient-last-visit>
                </div>
    
                <div *dxTemplate="let appointment of 'nurseNameTemplate'">
                    {{appointment.data.nurseFirstName}} {{appointment.data.nurseLastName}}
                </div>
    
                <div *dxTemplate="let appointment of 'physicianNameTemplate'">
                    {{appointment.data.physicianFirstName}} {{appointment.data.physicianLastName}}
                </div>
    
                <div *dxTemplate="let appointment of 'patientNameTemplate'">
                    {{appointment.data.patientFirstName}} {{appointment.data.patientLastName}}
                </div>
    
                <div *dxTemplate="let appointment of 'patientDoBTemplate'">
                    {{appointment.data.patientDateOfBirth | date}}
                </div>
    
                <div *dxTemplate="let appointment of 'startDateTemplate'">
                    {{appointment.data.startDate | time}}
                </div>
    
                <div *dxTemplate="let appointment of 'endDateTemplate'">
                    {{appointment.data.endDate | time}}
                </div>
    
                <div *dxTemplate="let appointment of 'previousAdmissionTemplate'">
                    <div class="text-center">
                        <button 
                            [ngClass]="hasPatientPreviousAdmissions(appointment.data.id, appointment.data.patientId) ? 'btn btn-sm btn-outline-primary' : 'btn btn-sm btn-outline-danger'"
                            (click)="showPreviousAdmissions($event, appointment.data.patientId, appointment.data.startDate)"> Admissions
                        </button>
                    </div>
                </div>
    
                <div *dxTemplate="let appointment of 'allegationsStatusTemplate'">
                    <span *ngIf="!appointment.data.allegations" class="text-danger">NOT SET</span>
                    <span *ngIf="appointment.data.allegations" class="text-primary">SET</span>
                </div>
                <dxo-selection mode="single"></dxo-selection>
            </dx-data-grid>
        </div>
    </div>
    <dx-popup 
        class="popup" [(visible)]="isAdmissionPopupVisible" [width]="600" [height]="400" 
        [showTitle]="true" title="Patient Previous Admissions" [closeOnOutsideClick]="false">
        <div *dxTemplate="let data of 'content'">
            <dx-scroll-view [scrollByContent]="true">
              <div class="list-container">
                <dx-list 
                  [items]="patientPreviousAdmissions" 
                  height="100%"
                  selectionMode="single"
                  (onSelectionChanged)="onPreviousAdmissionSelected($event)">
                  <div *dxTemplate="let item of 'item'">
                    <div class="row">
                      <div class="col-md-3 text-left">
                        {{item.startDate | date}}
                      </div>
                      <div class="col-md-2 text-left">
                        {{item.appointmentStatus}}
                      </div>
                      <div class="col-md-4 text-center">
                        {{item.locationName}}
                      </div>
                      <div class="col-md-3 text-left">
                        {{item.physicianFirstName + " " + item.physicianLastName}}
                      </div>
                    </div>
                  </div>
                </dx-list>
            </div>
            </dx-scroll-view>
        </div>
      </dx-popup>
      <dx-popup class="popup" [(visible)]="isManageAllegationsPopupVisible" [width]="900" 
        [height]="600" [showTitle]="true" title="Manage Allegations" [closeOnOutsideClick]="false">
        <div *dxTemplate="let data of 'content'">
            <appointment-allegations *ngIf="isManageAllegationsPopupVisible" 
                [allegationsString]="allegationsString">
            </appointment-allegations>
        </div>
      </dx-popup>
</div>