<div class="row">
    <div class="col-md-2">
        <dx-tree-view
            #patientTree
            width="100%"
            height="520"
            scrollDirection="vertical"
            showCheckBoxesMode="normal"
            (onItemSelectionChanged)="patientDataTreeSectionSelectionChanged($event)">
            <div *dxTemplate="let data of 'item'">
                <span [ngClass]="{'required-node' : data.isRequired}">{{data.text}}</span>
            </div>
        </dx-tree-view>
    </div>
    <div class="col-md-10">
        <!-- <div class="page" [innerHtml]="reportContent | safeHtml"></div> -->
        <textarea id="{{reportEditorId}}"></textarea>
    </div>
</div>
<div class="row margin-top-10">
    <div class="col-md-6 text-left">
        <!-- <dx-button text="Preview" type="default">
        </dx-button> -->
    </div>
    <div class="col-md-6 text-right">
        <dx-button text="Generate Report" (click)="generatePdfReport()" type="default">
        </dx-button>
    </div>
</div>