<div class="row">
    <div *ngIf="!isSignedOff" class="col-md-2">
      <a href="" (click)="openSurgicalHistoryCreationForm($event)">Add Surgical History</a>
    </div>
  </div>
  <div *ngIf="isHistoryExist" class="row margin-top-15">
    <div class="col-md-12">
      <dx-data-grid 
        [selectedRowKeys]="selectedSurgicalHistory" 
        [hoverStateEnabled]="true" 
        (onSelectionChanged)="onSelectedSurgicalHistory($event)"
        [wordWrapEnabled]="true" 
        #surgicalHistoryDataGrid 
        [dataSource]="surgicalHistoryDataSource" 
        [showBorders]="true"
        [showRowLines]="true">
  
        <dxo-remote-operations [paging]="true" [sorting]="true">
        </dxo-remote-operations>
  
        <dxo-paging [pageSize]="applicationConfiguration.defaultPageSizeCount">
        </dxo-paging>
  
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="applicationConfiguration.allowedPageSizes">
        </dxo-pager>
        
        <dxi-column dataField="Id" dataType="string" [visible]="false"></dxi-column>
        <dxi-column dataField="PatientId" dataType="string" [visible]="false"></dxi-column>
        <dxi-column dataField="Diagnosis" dataType="string" [allowSorting]="false"></dxi-column>
        <dxi-column dataField="Notes" cellTemplate="cellTemplate" dataType="string" [allowSorting]="false"></dxi-column>
        <dxi-column width="15%" dataField="CreatedDate" dataType="date"></dxi-column>
        
        <div class="text-center" *dxTemplate="let data of 'cellTemplate'">
          <span>
            {{data.value ? data.value : "-" }}
          </span>
        </div>

        <dxo-selection mode="single"></dxo-selection>
  
      </dx-data-grid>
    </div>
  </div>
  <div *ngIf="!isHistoryExist" class="row margin-top-15">
    <div class="col-md-2">
      <h6>{{defaultHistoryValue}}</h6>
    </div>
  </div>
  <dx-popup #createUpdateSurgicalHistoryPopup class="popup" [width]="600" [height]="500" [dragEnabled]="false" [showTitle]="true"
    title="Create / Update Surgical History" [closeOnOutsideClick]="false" [(visible)]="isCreateUpdatePopupOpened"
    (onHidden)="onCreateUpdatePopupHidden()">
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view [scrollByContent]="true">
        <div class="row">
          <div class="col-md-12">
            <form (submit)="createUpdateSurgicalHistory($event)">
              <dx-validation-group #surgicalHistoryValidationGroup>
                <div class="dx-fieldset">
                    <div class="dx-field">
                        <div class="dx-field-label">CPT Code:</div>
                        <div class="dx-field-value">
                            <dx-lookup
                              #cptCodeLookup
                              [dataSource]="cptCodeDataSource"
                              valueExpr="Id" 
                              displayExpr="Name"
                              placeholder="Search CPT Code..."
                              (onValueChanged)="cptCodeChanged($event)">
                            </dx-lookup>
                        </div>
                    </div>
                  <div class="dx-field">
                      <div class="dx-field-label">Diagnosis:</div>
                      <div class="dx-field-value">
                          <dx-text-area [(value)]="surgicalHistory.Diagnosis" [height]="90">
                              <dx-validator>
                                  <dxi-validation-rule type="required"></dxi-validation-rule>
                              </dx-validator>
                          </dx-text-area>
                      </div>
                  </div>
                    <div class="dx-field">
                        <div class="dx-field-label">PSH Notes:</div>
                        <div class="dx-field-value">
                            <dx-text-area [(value)]="surgicalHistory.Notes" [height]="90">
                            </dx-text-area>
                        </div>
                    </div>
                    <div *ngIf="!isNewSurgicalHistory" class="dx-field">
                        <div class="dx-field-label">Is Delete: </div>
                        <div class="dx-field-value">
                          <dx-check-box [(value)]="surgicalHistory.IsDelete">
                          </dx-check-box>
                        </div>
                    </div>
                    <div class="dx-field">
                        <div class="dx-field-label">Create Date:</div>
                        <div class="dx-field-value">
                          <dx-date-box [readOnly]="isNewSurgicalHistory" [(value)]="surgicalHistory.CreatedDate" type="date">
                            <dx-validator>
                              <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dx-validator>
                          </dx-date-box>
                        </div>
                    </div>
                </div>
                <div class="dx-fieldset">
                    <dx-button text="Save" type="default" [useSubmitBehavior]="true"></dx-button>
                </div>
              </dx-validation-group>
            </form>
          </div>
        </div>
      </dx-scroll-view>
    </div>
  </dx-popup>