<div *ngIf="!isSignedOff">
    <div *ngIf="hasDefaultTemplate || (isRosTemplate && isDetailedTemplate)" class="row">
        <div *ngIf="hasDefaultTemplate" class="col-md-6">
            <div class="dx-field">
                <div class="dx-field-label"> Default / Detailed template</div>
                <div class="dx-field-value">
                    <dx-radio-group
                        [items]="templateStates"
                        [value]="templateState"
                        layout="horizontal"
                        (onValueChanged)="onTemplateStateChanged($event)">
                    </dx-radio-group>
                </div>
            </div>
        </div>
        <div *ngIf="isRosTemplate && isDetailedTemplate && duplicateWords.length" class="col-md-6 text-right">
            <span id="duplicate-words-warning" style="cursor: pointer; color: red; font-weight: 600" (click)="toggleDuplicateWordsWarning()">
                DUPLICATE WORDS FOUND
            </span>
        </div>
    </div>
    <div *ngIf="isDetailedTemplateShown" class="row mt-md-2">
        <div id="detailed-template-editor" class="col-md-12">
            <patient-rich-text-editor
                #detailedRichTextEditor
                [companyId]="companyId"
                [initialContent]="templateContent.detailedTemplateHtml"
                (onEditorChange)="onDetailedContentChanged($event)"
                (onEditorReady)="onDetailedContentReady($event)">
            </patient-rich-text-editor>
        </div>
    </div>
    <div *ngIf="isDefaultTemplateShown" class="row mt-md-2">
        <div class="col-md-12">
            <patient-rich-text-editor
                #defaultRichTextEditor
                [initialContent]="templateContent.defaultTemplateHtml"
                (onEditorChange)="onDefaultContentChanged($event)"
                (onEditorReady)="onDefaultContentReady($event)">
            </patient-rich-text-editor>
        </div>
    </div>
</div>
<div class="row mt-md-2">
    <div class="col-md-12">
        <div class="card mt-md-2">
            <div class="card-header">
                Template result:
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div [innerHtml]="templateResult | safeHtml"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<dx-popover
    target="#duplicate-words-warning"
    [width]="400"
    position="bottom"
    [showTitle]="false"
    [(visible)]="isDuplicateWordsWarningVisible">
    <div *dxTemplate="let data = model of 'content'">
        <div>
            <h6>These words already exist in HPI templates:</h6>
            <p>
                {{duplicateWordsText}}
            </p>
        </div>
    </div>
</dx-popover>
