<div class="row">
    <div class="col-md-8">
        <div *ngIf="!isSignedOff">
            <button type="button" (click)="openBaseVitalSignsForm()"
                class="btn btn-sm btn-outline-secondary">{{ isNewBaseVitalSigns ? 'FILL VITAL SIGNS' : 'MODIFY VITAL SIGNS' }}</button>
        </div>
        <table class="table table-bordered mt-3">
            <thead class="thead-light">
                <tr>
                    <th class="text-center" scope="col">Weight, lbs</th>
                    <th class="text-center" scope="col">Height, inches</th>
                    <th class="text-center" scope="col">BMI, %</th>
                    <th class="text-center" scope="col">Dominant Hand</th>
                    <th class="text-center" scope="col">Oxygen, lpm</th>
                    <th *ngIf="isHeadCircumferenceEnabled" class="text-center" scope="col">Head Circumference, cm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">{{ baseVitalSigns.weight | notSet }}</td>
                    <td class="text-center">{{ baseVitalSigns.height | notSet }}</td>
                    <td class="text-center">{{ bmi | notSet }}</td>
                    <td class="text-center">{{ baseVitalSigns.dominantHand | notSet }}
                    </td>
                    <td class="text-center">
                        {{ oxygenUseInfo }}
                    </td>
                    <td *ngIf="isHeadCircumferenceEnabled" class="text-center">
                        {{ baseVitalSigns.headCircumference | notSet }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered mt-5">
            <thead class="thead-light">
                <tr>
                    <th class="text-center" scope="col">Location</th>
                    <th class="text-center" scope="col">Calf, cm</th>
                    <th class="text-center" scope="col">Thigh, cm</th>
                    <th class="text-center" scope="col">Forearm, cm</th>
                    <th class="text-center" scope="col">Bicep, cm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center">Right</th>
                    <td class="text-center">{{ baseVitalSigns.rightCalf | notSet }}</td>
                    <td class="text-center">{{ baseVitalSigns.rightThigh | notSet }}</td>
                    <td class="text-center">{{ baseVitalSigns.rightForearm | notSet }}
                    </td>
                    <td class="text-center">{{ baseVitalSigns.rightBicep | notSet }}</td>
                </tr>
                <tr>
                    <th class="text-center">Left</th>
                    <td class="text-center">{{ baseVitalSigns.leftCalf | notSet }}</td>
                    <td class="text-center">{{ baseVitalSigns.leftThigh | notSet }}</td>
                    <td class="text-center">{{ baseVitalSigns.leftForearm | notSet }}
                    </td>
                    <td class="text-center">{{ baseVitalSigns.leftBicep | notSet }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<dx-popup #baseVitalSignsPopup class="popup" [width]="900" [height]="580" [dragEnabled]="false" [showTitle]="true"
    [title]="'BASE VITAL SIGNS'" [closeOnOutsideClick]="false" [(visible)]="isBaseVitalSignsPopupOpened"
    (onDisposing)="onBaseVitalSignsPopupDisposing()">
    <div *dxTemplate="let data of 'content'">
        <div class="row">
            <div class="col-md-12">
                <dx-form [(formData)]="baseVitalSignsCopy" [height]="460" [colCount]="12" labelLocation="top">
                    <dxi-item [label]="{text: 'Weight, lbs'}" [colSpan]="2" dataField="weight" editorType="dxNumberBox">
                    </dxi-item>
                    <dxi-item [label]="{text: 'Height, inches'}" [colSpan]="2" dataField="height"
                        editorType="dxNumberBox"></dxi-item>
                    <dxi-item [colSpan]="isHeadCircumferenceEnabled ? 5 : 8" dataField="dominantHand" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: dominantHand }"></dxi-item>
                    <dxi-item *ngIf="isHeadCircumferenceEnabled" [colSpan]="3" [label]="{text: 'Head Circumference, cm'}" dataField="headCircumference"
                            editorType="dxNumberBox"></dxi-item>

                    <dxi-item [colSpan]="12" [colCount]="12" itemType="group" caption="RIGHT:">
                        <dxi-item [label]="{text: 'Bicep, cm'}" [colSpan]="3" dataField="rightBicep"
                            editorType="dxNumberBox"></dxi-item>
                        <dxi-item [label]="{text: 'Forearm, cm'}" [colSpan]="3" dataField="rightForearm"
                            editorType="dxNumberBox"></dxi-item>
                        <dxi-item [label]="{text: 'Thigh, cm'}" [colSpan]="3" dataField="rightThigh"
                            editorType="dxNumberBox"></dxi-item>
                        <dxi-item [label]="{text: 'Calf, cm'}" [colSpan]="3" dataField="rightCalf"
                            editorType="dxNumberBox"></dxi-item>
                    </dxi-item>

                    <dxi-item [colSpan]="12" [colCount]="12" itemType="group" caption="LEFT:">
                        <dxi-item [label]="{text: 'Bicep, cm'}" [colSpan]="3" dataField="leftBicep"
                            editorType="dxNumberBox"></dxi-item>
                        <dxi-item [label]="{text: 'Forearm, cm'}" [colSpan]="3" dataField="leftForearm"
                            editorType="dxNumberBox"></dxi-item>
                        <dxi-item [label]="{text: 'Thigh, cm'}" [colSpan]="3" dataField="leftThigh"
                            editorType="dxNumberBox"></dxi-item>
                        <dxi-item [label]="{text: 'Calf, cm'}" [colSpan]="3" dataField="leftCalf"
                            editorType="dxNumberBox"></dxi-item>
                    </dxi-item>

                    <dxi-item [label]="{text: 'Is Oxygen Use'}" [colSpan]="3" dataField="isOxygenUse"
                        editorType="dxCheckBox"></dxi-item>

                    <div *ngIf="baseVitalSignsCopy.isOxygenUse">
                        <dxi-item [label]="{text: 'Use'}" [colSpan]="3" dataField="oxygenAmount"
                            editorType="dxNumberBox"></dxi-item>
                        <dxi-item [colSpan]="3" dataField="oxygenUse" editorType="dxSelectBox"
                            [editorOptions]="{ dataSource: oxygenUseListValues }"></dxi-item>
                    </div>
                </dx-form>
            </div>
            <div class="col-md-12 text-right mt-md-2">
                <button type="button" (click)="createUpdateBaseVitalSigns()"
                    class="btn btn-sm btn-outline-secondary">SAVE</button>
            </div>
        </div>
    </div>
</dx-popup>