<div class="row mt-md-2">
    <div class="col-md-3">
        <button type="button" (click)="openMedicationUpdateForm()" class="btn btn-sm btn-outline-secondary">SCHEDULE MEDICATION UPDATE</button>
    </div>
    <div class="offset-md-2 col-md-3 text-right">
        <button type="button" (click)="refreshMedicationUpdateDataGrid()" class="btn btn-sm btn-outline-secondary">REFRESH</button>
    </div>
</div>
<div class="row mt-md-2">
    <div class="col-md-8">
        <dx-data-grid 
            [hoverStateEnabled]="true"
            [wordWrapEnabled]="true"
            #medicationUpdateDataGrid
            [dataSource]="medicationUpdateDataSource"
            [showBorders]="true"
            [showRowLines]="true">

            <dxo-remote-operations [paging]="true" [sorting]= "true"></dxo-remote-operations>

            <dxo-paging [pageSize]="searchConfiguration.pageSizeCount"></dxo-paging>

            <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="searchConfiguration.allowedPageSizes">
            </dxo-pager>

            <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
            <dxi-column alignment="left" dataField="date" dataType="date"></dxi-column>
            <dxi-column alignment="left" dataField="status" cellTemplate="statusTemplate"></dxi-column>
            <dxi-column alignment="center" caption="Medication Excel file" cellTemplate="medicationExcelFileReferenceTemplate"></dxi-column>

            <div class="text-left" *dxTemplate="let scheduledMedicationItem of 'statusTemplate'">
                <div>{{scheduledMedicationItem.data.status}}</div>
                <div class="text-danger" *ngIf="scheduledMedicationItem.data.error">{{scheduledMedicationItem.data.error}}</div>
            </div>

            <div class="text-center" *dxTemplate="let scheduledMedicationItem of 'medicationExcelFileReferenceTemplate'">
                <a (click)="downloadExcelMedicationsFile($event, scheduledMedicationItem.data.medicationsFileName)" href="">{{scheduledMedicationItem.data.medicationsFileName}}</a>
            </div>

        </dx-data-grid>
    </div>
</div>
<dx-popup #medicationUpdatePopup class="popup" [width]="600" [height]="300" [dragEnabled]="false" [showTitle]="true"
    title="MEDICATION UPDATE" [closeOnOutsideClick]="false" 
    [(visible)]="isMedicationUpdatePopupOpened">
    <div *dxTemplate="let data of 'content'">
        <div *ngIf="isMedicationUpdatePopupOpened" class="row">
            <div class="col-md-12">
                <dx-file-uploader
                    accept="application/vnd.ms-excel"
                    #medicationsExcelFileUploader
                    [multiple]="false"
                    uploadMode="useForm"
                    [allowedFileExtensions]="['.xls']">
                </dx-file-uploader>
                <span class="note">Allowed file extensions: <b>.xls</b></span>
            </div>
            <div class="col-md-12 text-right mt-md-2">
                <button type="button" (click)="createUpdateMedicationUpdate()" class="btn btn-sm btn-outline-secondary">SCHEDULE</button>
            </div>
        </div>
    </div>
</dx-popup> 